<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rehman.newtrend">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewTrend"
        android:usesCleartextTraffic="true">
        <activity android:name=".Cart.ViewDetailsActivity"></activity>
        <activity android:name=".Cart.BuyActivity" />
        <activity android:name=".Cart.CartActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".Islam.CounterActivity" />
        <activity android:name=".Islam.TashbeehActivity" />
        <activity android:name=".Product.ViewAllProductActivity" />
        <activity android:name=".Product.ProductDetailsActivity" />
        <activity android:name=".Payment.PaymentActivity" />
        <activity android:name=".TestingActivity" />
        <activity android:name=".OrderFiles.ViewBookingDetailsActivity" />
        <activity android:name=".Profile.PaymentOptionActivity" />
        <activity android:name=".Profile.SliderPaymentActivity" />
        <activity android:name=".Profile.AboutActivity" />
        <activity android:name=".Profile.EditProfileInfoActivity" />
        <activity android:name=".Help.WarrantyActivity" />
        <activity android:name=".Help.SaftyActivity" />
        <activity android:name=".Help.PaymentInfoActivity" />
        <activity android:name=".Help.AccountInfoActivity" />
        <activity android:name=".Start.VerifyOtpActivity" />
        <activity android:name=".Start.LoginActivity" />
        <activity android:name=".Start.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9972723346770076~6115053804"/>

    </application>



</manifest>